.Toggle {
  display: flex;
  justify-content: center;
  margin-top: 50px; }
  .Toggle a {
    background-color: #20b3e4;
    color: white;
    padding: 7px 15px;
    letter-spacing: 3.1px;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0px 5px 5px 0px;
    transition: all 0.3s ease;
    border: 2px solid #20b3e4; }
    .Toggle a:hover {
      background-color: #20b3e4 !important;
      color: white !important; }
    .Toggle a:first-child {
      border-radius: 5px 0px 0px 5px; }
